.theme-color-bg-1 {
    background: #222222;
}

.theme-color-bg-2 {
    background: #ff1133;
}

.theme-color-bg-3 {
    background: #0dad3d;
}

.theme-color-bd-1 {
    color: #222222;
}

.theme-color-bd-2 {
    color: #ff1133;
}

.theme-color-bd-3 {
    color: #55ff88;
}

#logoMe{
    background: #19ee59;
    color: white;
    border-radius: 20%;
    font-size: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

.content{
    z-index: 3;
}

.themeButton {
    background-color: transparent;
    color: #cccccc;
    height: 2.5em;
    border: 1px solid #555555;
    border-radius: 1.5em;
    box-sizing: border-box;
    padding: 0 5% 0 5%;
    transition: 0.5s;
}

.themeButton:hover {
    background-color: #222222;
    color: #ffffff;
    border: 1px solid #cccccc;
}

input {
    background: #000000;
    color: #cccccc;
    border-width: 1%;
    border-color: #555555;
    margin: 0.5%;
    padding: 0.7% 2% 0.7% 2%;
}

.card {
    border-color: #555555;
    width: 420px;
    height: 420px;
    min-width: 300px;
}

.card-header {
    Background: #000000;
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

.nav-item > .nav-link {
    transition: 0.5s;
}

.nav-item > .nav-link.active {
    background: #333333;
    color: #00ff88;
    border-color: #333333;
}

.nav-item > .nav-link:hover {
    border-color: transparent;
}

.card-body {
    background: #333333;
    color: #00ff88;
    text-align: start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.form-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 1em;
    height: 1em;
    color: transparent;
    background: #00ff88;
    border-radius: 50%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-alert {
    background: #dd3333;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 80px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background: #000000;
    color: #cccccc;
    border-radius: 5%;
    transition: 0.5s;
}

.button:hover {
    color: #ffffff;
}

.heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#info {
    font-size: 0.8rem;
    margin: 5px 0 5px 0;
    display: flex;
}

#map {
    width: 100%;
    height: 320px;
}

*{box-sizing: border-box;}

body {
    background: #000000;
    margin: 0;
    font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 1rem;
	line-height: 1.5;
	color: #cccccc;
	overflow-x: hidden;
}

.video-header{height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
	
}

.wrap{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin:auto;
	text-align: center;
	
}
.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	
}
.fullscreen-video-wrap video{
	min-height: 100%;
	min-width: 100%;
	
}

.header-overlay{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(34,33,33,0.65);
    opacity: 0.80;
    display: flex;
    justify-content: flex-end;
    align-items: center;
	
}

.header-content{
	z-index: 2;
	margin-top:20%;
    padding: 0 5rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	
}

.header-content h1{
	font-size: 50px;
	margin-bottom: 0;
	
}
.header-content p{
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
	margin-top: 10px;
}

.my-btn{
	padding: 1rem 1rem;
}

@media(max-width:768px){
	.header-content h1{font-size: 40px;}
	.header-content p{font-size: 1rem;}
}

section {
    text-align: center; 
    margin-top: 50px; 
    font-size: 1.5rem;
}

.text-center {
    text-align: center!important;
    margin-right: 30px;
}

/* Navbar */
.navbar{
    z-index: 10;
}

.my-nav .nav-link{
    color: aliceblue;
}

.my-nav .navbar-brand{
    color: aliceblue;
}

.navbar-toggler-icon{
    color: aliceblue;
}

.navbarSearch {
    display: flex;
    flex-flow: row nowrap;
}

.navbarSearchInput {
    background: transparent;
    color: #cccccc;
}

.navbarSearchInput:focus {
    background: #222222;
    color: #cccccc;
}

#logout {
    margin-left: 1%;
    margin-right: 1%;
}






/* profileSetup */
.label-div {
    width: 100%;
    display: flex;
    justify-content: start;
}

.form-section {
    top: 0;
    bottom: 0;
}

.form-section-content {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.carousel-item {
    height: calc(100vh - 56px);
    
}

.sports-options {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.availability-wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.gridRow {
    display: flex;
}

.availability-row-main, .availability-grid {
    height: 3em;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.time-slot-switch {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.time-slot-switch .time-slot-label::before {
    background: transparent;
    border-color: #555555;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.time-slot-switch .time-slot-label:hover {
    background: #222222;
}

.time-slot {
    width: 100%;
    height: 100%;
    padding: 0;
    left: 0;
}

.time-slot-label {
    width: 100%;
    height: 100%;
}

.time-slot-switch .time-slot-label::after {
    display: none;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #55ff88;
    background-color: #55ff88;
}

.address-info {
    box-sizing: border-box;
}





.sports-toggle {
    height: 4em;
    padding: 1em 0 1em 0;
}

.sports-toggle .sports-option-label::before {
    font-size: 20px;
    width: 12em;
    height: 2.25em;
    border-radius: 1.25em;
    opacity: 0.5;
    transition: 0.5s;
}

.sports-toggle .sports-option-label:hover::before {
    opacity: 0.7;
}

.sports-option-label::before {
    position: initial;
    display: block;
    background-color: transparent;
    border: #adb5bd solid 1px;
}

.sports-toggle .sports-option-label::after, .sports-toggle .sports-option:checked~.sports-option-label::after {
    display: none;
}

.sports-option-label .sports-name {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sports-name p {
    margin: 0;
}

.save-profile {
    font-size: 25px;
    width: 12em;
    height: 2.25em;
    border-color: #ffffff;
    border-radius: 1.25em;
    opacity: 0.5;
    background: transparent;
    transition: 0.5s;
}

.save-profile:hover {
    font-size: 25px;
    width: 12em;
    height: 2.25em;
    border-color: #ffffff;
    border-radius: 1.25em;
    opacity: 1;
    background: transparent;
}

/* profile */
.profileContainer {
    max-width: 95vw;
}

.profileTitle {
    padding-top: 2%;
    padding-bottom: 2%;
}

.profilePicSection, .playerInfoSection, .personalSection, .contactSection {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.playerPhoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background-position-x: 52%;
    background-position-y: 20%; */
    margin-top: 30px;
    margin-bottom: 30px;
}

.profilePicControl {
    display: inline-flex;
}

.uploadControlButtons {
    flex: 1;
}

.uploadInfo {
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.browseButton {
    border: 1px solid transparent;
    background-color: transparent;
    border-color: #007bff;
}

.browseButton::after {
    width: 100%;
    color: #007bff;
    /* border-color: #007bff; */
    background: #000000;
    text-align: center;
}

.browseButton:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
}

.browseButton > i {
    margin-left: 0.1em!important;
    margin-right: 0.1em!important;
}

.editableInput {
    height: 2.5em;
    text-align: center;
    border: medium #555555;
    border-style: solid;
    border-radius: 2em;
    box-sizing: border-box;
    margin: 0.5em 0 0.5em 0;
}

.readOnly {
    border-color: transparent;
}

.editableSelect {
    color: #cccccc;
    height: 2.5em;
    text-align: center;
    line-height: 2.25;
    padding-left: 0;
    padding-right: 0;
}

.locateButton, .findMeButton {
    font-size: 0.8em;
    height: 2em;
}

.saveButton {
    width: 100px;
    margin: 0.5em 0 0.5em 0;
}

.playerStats {
    min-height: 290px;
}

.sportInfo {
    min-height: 250px;
}

/* pie chart starts */
.sportPie {
    height: 150px;
}

.pieData {
    display: none;
}

/* CSS Circular Sector */
/* https://stackoverflow.com/questions/11487557/how-can-i-make-a-circular-sector-using-css/11497542 */
.menu {
    background: transparent;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}
.slice {
    left: 50%;
    bottom: 50%;
    position: absolute;
    width: 200px;
    height: 200px;
    border-color: transparent;
    transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    /* transition: background .5s;
    -moz-transition: background .5s;
    -webkit-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s; */
    /* cursor: pointer; */
    opacity: 0.6;
    transition: 0.5s;
}
.menu:hover .slice {
    opacity: 0.9;
}
.sliceWin {
    background: #1fe06f;
    z-index: 1;
}
.sliceLose {
    background: #ff1133;
    z-index: 1;
}

.pieContents {
    width: 140px;
    height: 140px;
    position: absolute;
    background: #000000;
    border-radius: 50%;
    z-index: 2;
    transform-origin: center;
    -moz-transform-origin: center;
    -webkit-transform-origin: center;
    transform: translate(5px, 5px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.pieDataContent {
    opacity: 0.9;
}

.dataRecord {
    font-size: 0.8em;
}

.winRate {
    font-size: 2em;
    color: gold;
}

.dataWin {
    color: #1fe06f;
}

.dataLose {
    color: #ff1133;
}
/* pie chart ends */

.sportStatsWrap {
    min-height: 150px;
    height: 70%;
}

.playerCurrentRank {
    font-weight: bold;
    font-size: 1.5em;
}

.matchRecordWrap {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.joinSportWrap {
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.sportButton {
    width: 50%;
}
















.timeInfo, .locationInfo {
    display: flex;
    align-items: center
}

.gridHead {
    flex: 2;
}

.gridElement {
    flex: 1;
}

#map.profileMap {
    height: 150px;
}

.timeLocationUpdateWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.timeLocationUpdate {
    padding: 0 5% 0 5%;
}

/* main */

.filter {
	display: none;
  }
  
  .showFilter:hover .filter {
	display: block;
  }


header {
	position: relative;
	background-color: black;
	height: 56.4vw;
	min-height: 25rem;
	width: 100%;
  }
  
header video {
	position: absolute;
	top: 200px;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
header .container {
	position: relative;
	z-index: 2;
  }
  
header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
	header {
	  background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
	}
	header video {
	  display: none;
	}
  }

#challengeButton, #matchButton {
	font-size: 30px;
	margin-top: 40px;
	
  }

#formDiv{
	background-color: white;
	opacity: 0.9;
	display: none;
	z-index: 3000;
	position: absolute;
	width: 80%
	
}

.availability-row-main{
    color: #000000;
}

.blackText{
    color: #000000;
}

.clearer
{
    clear: both;
}

.formLabel {
	color: black;
	padding-top: 10px;
}

#sportDiv{
	padding-left: 30px;
}


#PriorityDiv{
	padding-right: 30px;
}

#submitButton{
	padding-top: 40px;
}

.oneChoice{
    margin-bottom: 30px;
}


.fa-book-open:before, .fa-futbol:before, .fa-baseball-ball:before,.fa-basketball-ball:before,.fa-table-tennis:before, .fa-user:before {
    height: 60px;
    width: 60px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.fa-book-open:before, .fa-user:before{
    background: white
}



.sectionHeader{
    align-items: center;
    display: flex;
    padding-left: 10px;
    font-size: 30px;
}

#rule-col, #matched-col{
    display: flex;
    justify-content: center;
}

.bottomContent{
    top:-160px;
}

.sports-rule-col{
    padding-top: 20px;
    text-align: center;
}

#row-rules{
    display: flex;
    justify-content: center;
}

#matched-rules{
    padding-bottom: 20px;
    display: none;
}

.rules-content{
    padding-top: 15px;
}

#profilePic{
        width: 100px;
        height: 100px;
        border-radius: 50%;
}

.showPlayerRow{
    text-align: center;
    display: flex;
    justify-content: center;
}

.playerContent{
    display: flex;
    align-items: center;
}

#playerProfile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addedRow{
    border-width:1px;
    border-style:solid;
    border-color:grey;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.addedRow:hover{
    border-color:#55ff88;
    transform: scale(1.1)
}

#createMatch{
    left: -50px;
}

#matchRecord{
    left: -20px;
}

/* matchInfo */

.fa-calendar-plus:before{
    height: 60px;
    width: 60px;
    font-size: 40px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color:#ff1133;
}

#matchInfoHeader{
    align-items: center;
    padding-left: 10px;
    display: flex;
}

#matchInfoRow{
    padding-top: 30px;
    padding-bottom: 20px;
}

/* leaderBoard */

.headRow{
    display: flex;
    text-align: start;
    padding-bottom: 10px;
}

#matchInfoHeader{
    font-size: 30px
}

.dataRow{
    text-align: start;
}

.playerInformation{
    margin-bottom: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    align-items: center;
}

.playerInformation:hover{
    border-color:#55ff88;
    transform: scale(1.1)
}

.rankHead, .inviteHead, .playerRank, .playerButton, .playerScore, .scoreHead,.nameHead, .ratioHead, .playerName, .playerRatio{
    flex :1
}
.recordHead, .playerRecord{
    flex :2
}

#leaderBoardH2{
    padding-top: 30px;
}
.fa-chart-line:before{
    height: 60px;
    width: 60px;
    font-size: 40px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color:#ff1133;
}

#leaderBoardHeader{
    display: flex;
    margin-top:20px;
    margin-bottom: 10px;
}

#selectSports{
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.playerInformation{
    margin-right: 0px;
    margin-left: 0px;
}

/* chat room */
.chatBody {
    background: #222222;
    padding-left: 0;
}

.chatRow {
    display: flex;
    min-width: 270px;
}

.chatRoomCol {
    height: calc(100vh - 66px);
}

.chatRoomExt {
    background: #222222;
    min-width: 270px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.chatControl {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #222222;
}

.invitation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.invitationMe {
    display: none;
}

.chatInput {
    height: 2.5em;
    width: initial;
    min-width: unset;
    text-align: center;
    border: medium solid #555555;
    border-radius: 2em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex: 1;
}

.chatInput:focus {
    border-radius: 2em;    
}

.chatButton {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invitationAdd {
    color: #999999;
    border-color: #999999;
}

.contact-list {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.chatRoomDoor {
    background: #111111;
    color: #555555;
    border: medium solid #555555;
    transition: 0.5s;
}

.chatRoomDoor:hover {
    background: #222222;
    border-color: #dddddd;
    color: #dddddd;
}

.chatRoomDoor:active, .chatRoomDoor:focus {
    background: #007bff;
    border-color: #dddddd;
    color: #dddddd;
}

.chatListScroll {
    float: left;
    background: transparent;
    overflow-y: scroll;
    flex: 1;
    margin: 5px 5px 10px 5px;
}

.chatListScroll::-webkit-scrollbar {
    width: 12px;
    background-color: #111111;
    border-radius: 50% / 1%;
}

.chatListScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #222222;
}

.chatRoomInt {
    background: #000000;
    flex: 3;
    display: flex;
    flex-flow: column nowrap;
}

.chatRoomHead {
    /* background: navy; */
    position: static;
    z-index: 1030;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.friendsPhoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

.friendsName {
    flex: 1;
    color: #eeeeee;
}

.friendsProfile {
    font-size: 0.9em;
    border-color: #cccccc;
    width: max-content;
    display: none;
}

.join {
    display: none;
}

.convoLog {
    flex: 1;
}

.convoScroll {
    float: left;
    max-height: calc(100vh - 226px);
    background: transparent;
    overflow-y: scroll;
    flex: 1;
    margin: 10px 5px 10px 5px;
}

.convoScroll::-webkit-scrollbar {
    width: 12px;
    background-color: #111111;
    border-radius: 50% / 1%;
}

.convoScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #222222;
}

.dialog {
    display: flex;
    flex-flow: column nowrap;
}

/* CSS speech bubble */
/* https://leaverou.github.io/bubbly/ */
/* https://codingislove.com/css-speech-bubbles/ */
.speech-bubble {
	position: relative;
    /* background: darkblue; */
    color: #ffffff;
    border-radius: .4em;
    padding-left: 10px;
    padding-right: 10px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #0dad3d;
	border-bottom: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}

.inside {
    max-width: 75%;
    margin: 10px;
    display: inline-block;
    opacity: 0.8;
}

.inside:hover {
    opacity: 1;
}

.myDialog {
    align-self: flex-end;
}

.myDialog::after {
    right: 10px;
	border-right: 0;
}

.friendsDialog {
    align-self: flex-start;
}

.friendsDialog::after {
    left: 20px;
    border-left: 0;
}

.inside p {
    margin: 5px;
    word-break: break-word;
}

.communicationForm {
    position: static;
    z-index: 1030;
}

.send {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.sendRoom {
    display: none;
}

.sendMessage {
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
}




/* record */

.form-control-plaintext-record{
    background-color: white;
    color: #000000
}
 .matchDataRow{
    margin-right: 0px;
    margin-left: 0px
 }

 /* record-pending */
.matchHeadRow, .matchPendingRow, .matchAcceptedRow, .matchCompletedRow, .matchCancelledRow, .matchRcPendingRow, .matchDeclinedRow{
    display: flex;
    align-items: center;
}


 .idHead, .venueHead, .statusHead, .editHead, .replyHead{
    flex :1
}

.matchId, .matchStartTime, .matchEndTime, .matchLocation, .matchRemarks, .matchStatus, .matchEdit, .matchReply{
    flex :1
}

.startHead, .endHead,.matchStartTime, .matchEndTime, .remarkHead, .matchRemarks, .matchPlayerName, .oppHead{
    flex :2
}

/* record-accepted */
.idAHead, .startAHead, .endAHead, .statusAHead, .venueAHead, .remarkAHead, .setTypeAHead, .submitAHead{   
    flex :1
}

.matchAId, .matchAStartTime, .matchAEndTime, .matchAStatus, .matchALocation, .matchARemarks, .matchType, .submitAReply{ 
    flex :1
} 

.resultAHead, .matchAResult, .oppAHead, .matchAPlayerName{
    flex :2;
}

/* record-completed */

.idCHead, .venueCHead, .statusCHead, .resultCHead, .typeHead, .matchType{
    flex :1
}

.matchCId, .matchCStartTime, .matchCEndTime, .matchCLocation, .matchCRemarks, .matchCStatus, .matchCResult{
    flex :1
}

/* .matchHeadRow > div {
    flex: 2;
} */
.startCHead, .oppCHead, .matchCPlayerName, .endCHead,.matchCStartTime, .matchCEndTime, .remarkCHead, .matchCRemarks{
    flex :2
}

/* record-re-pending */


 .idRcHead, .oppRcHead, .venueRcHead, .statusRcHead, .editRcHead, .acceptRcHead, .declineRcHead{
    flex :1
}

.matchRcId, .matchRcStartTime, .matchRcEndTime, .matchRcLocation, .matchRcRemarks, .matchRcStatus, .matchRcEdit, .matchRcAccept, .matchRcDecline{
    flex :1
}

.startRcHead, .oppRcHead, .matchRcPlayerName, .endRcHead,.matchRcStartTime, .matchRcEndTime, .remarkRcHead, .matchRcRemarks{
    flex :2
}

.fa-grin-beam:before{
    color: #55ff88;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.fa-dizzy:before{
    color:#ff1133;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.fa-readme:before{
    height: 60px;
    width: 60px;
    font-size: 40px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color:#ff1133;
}

#recordHeader{
    display: flex;
    margin-top:20px;
    margin-bottom: 10px;
}

.matchPendingRow, .matchAcceptedRow, .matchCompletedRow, .matchCancelledRow, .matchRcPendingRow, .matchDeclinedRow{
    border-width:1px;
    border-style:solid;
    border-color:grey;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.matchPendingRow:hover, .matchAcceptedRow:hover, .matchCompletedRow:hover, .matchCancelledRow:hover, .matchRcPendingRow:hover, .matchDeclinedRow:hover{
    border-color:#55ff88;
}

.resultButton{
    margin-left: 10px;
}