body {
    background: #333333;
    color: #00ff88;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    background: #000000;
    color: #cccccc;
    border-width: 1%;
    border-color: #555555;
    margin: 0.5%;
    padding: 0.7% 2% 0.7% 2%;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-color: #555555;
    width: 420px;
    height: 420px;
    min-width: 300px;
}

.card-header {
    Background: #000000;
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

.nav-item > .nav-link {
    transition: 0.5s;
}

.nav-item > .nav-link.active {
    background: #333333;
    color: #00ff88;
    border-color: #333333;
}

.nav-item > .nav-link:hover {
    border-color: transparent;
}

.card-body {
    background: #333333;
    color: #00ff88;
    text-align: start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.form-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 1rem;
    height: 1rem;
    color: #333333;
    background: #00ff88;
    border-radius: 50%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-alert {
    background: #dd3333;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 80px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background: #000000;
    color: #cccccc;
    border-radius: 5%;
    transition: 0.5s;
}

.button:hover {
    color: #ffffff;
}

.heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#info {
    font-size: 0.8rem;
    margin: 5px 0 5px 0;
    display: flex;
}